:css
  input{
    text-align: left;
  }
#sidebar.ui.segment
  .ui.form
    .ui.field
      %label Gauge:
      %select#materials.dropdown
        %option{"data-color" => "#999", "data-gauge" => "17"} None
        %option{"data-color" => "#ADB2BD", "data-gauge" => "9"} 9AWG - ALUMINUM
        %option{"data-color" => "#ADB2BD", "data-gauge" => "14"} 14AWG - ALUMINUM
        %option{"data-color" => "#CDAD00", "data-gauge" => "16"} 16AWG - GOLD
        %option{"data-color" => "#C0C0C0", "data-gauge" => "18"} 18AWG - SILVER
        %option{"data-color" => "#C0C0C0", "data-gauge" => "20"} 20AWG - SILVER
        %option{"data-color" => "#CDAD00", "data-gauge" => "20"} 20AWG - GOLD
        %option{"data-color" => "#C0C0C0", "data-gauge" => "24"} 24AWG - SILVER
        %option{"data-color" => "#CDAD00", "data-gauge" => "28"} 28AWG - GOLD
        %option{"data-color" => "#B5A642", "data-gauge" => "32"} 32AWG - BRASS
       