:coffeescript
  # .d8888.  .o88b. d8888b. d888888b d8888b. d888888b 
  # 88'  YP d8P  Y8 88  `8D   `88'   88  `8D `~~88~~' 
  # `8bo.   8P      88oobY'    88    88oodD'    88    
  #   `Y8b. 8b      88`8b      88    88~~~      88    
  # db   8D Y8b  d8 88 `88.   .88.   88         88    
  # `8888Y'  `Y88P' 88   YD Y888888P 88         YP    
  
  window.design = {}
  #var design = #{@design};
  window.factory = undefined
  window.zoom = undefined
  window.materials = undefined
  window.storage = undefined
  window.paper = paper

  SidebarController = ->
    # $('select.dropdown').dropdown()
    $('#materials').change ->
      console.log "MAT", $(this).val()
      matIdx = parseInt($(this).val())
      material = materials.at(matIdx)
      paths = paper.project.selectedItems
      _.each paths, (p)->
        p.setMaterial(material)
    return


  $ ->
    window.dim = new DimensionsPreview($('#sandbox'))
    dim.dom.css
      bottom: 0
      right: 0
      left: 'auto'
      top: 'auto'
    dim.set 0, 0, 0

    window.storage = new WebStorage
    window.gui = new dat.GUI()

    # TOOL SETUP
    window.factory = new WireWrapTool
      canvas: $('#main-canvas')
      name: "Proxy"

    window.sb = new SidebarController
    window.materials = new Materials($('#materials'))
    
    #STLGenerator Setup
    window.env = new ThreeEnv($('.threejs-container'))

    $('#threejs-modal .header').click ()->
      $(this).siblings().toggle()
    $('#threejs-modal .header').click()
   
    

#interface-container.row
  - render :partial => "toolbox"
  #sandbox.col-xs-12
    %canvas{id: "main-canvas", resize: "resize"}
  = render :partial => "sidebar"
  = render 'collection'


#threejs-modal.ui.segments
  .ui.segment.header 2.5D Model Generator
  .ui.segment
    .threejs-container
  .ui.segment
    .ui.actions.buttons
      .ui.approve.button.green Save
      .ui.cancel.button.red Cancel
