#STLGENERATOR
:css
  .threejs-container{
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .heightmap{
    width: 100px;
  }
:coffeescript
  $ ->
    $(".heightmap img").load ()->
      env = new ThreeEnv($('.threejs-container'))
      window.gui = new dat.GUI
      window.hm = new Heightmap().fromImage($("#heightmap"))
      window.model = new HeightmapSTL(hm, env, 31.0, 47.7, 0.5, 9.3, 300)
.heightmap
  = image_tag "/textures/bump.png", id: "heightmap"
.threejs-container
%canvas.heightmap

