// Place all the styles related to the paperscraps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the fluis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
* require normalize-rails
*= require interface
*= require font
*= require_self
*/

input{
	text-align: right;
}
#sandbox canvas{
	cursor: pointer;
}
#dimensions{
	position: absolute;
	right: 3.8%;
	top: 1%;
}
#zoom{
	position: absolute;
	left: 3.8%;
	top: 1%;
}
table img{
	width: 100%;
}
.break-padding{
	display: block;
	margin: 8px auto;
	border: none;
	width: 100% !important;
}


.dg {

       font: 400 14px Verdana, Arial, sans-serif;
       text-shadow: white 0 0 0;
} 

.dg .c select {
   color: black !important;	
}
