.grid_12.alpha
  / DESCRIPTION
  .grid_12
    %h2 Proxies
    %p.lead
      %em
        Exploring the space of DF proxies.
    %address
      %strong Cesar Torres
      %br/
      cearto@berkeley.edu
      %br/
    %address
      %strong Wil Li
      %br/
      wilmotli@adobe.com
      %br/
  
