.grid_12.alpha
  / DESCRIPTION
  .grid_12
    %h2 Proxies
    %p.lead
      %em
        Exploring the space of DF proxies.
    %address
      %strong Cesar Torres
      %br/
      torres @adobe.com
      %br/
    %address
      %strong Wil Li
      %br/
      wilmot@adobe.com
      %br/
    = link_to pic2stl_path, :class => "btn btn-primary btn-lg" do
      %span.glyphicon.glyphicon-download
      PIC2STL
